body{
    background-color: #1C1F21;
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.title{
    color: #f9f9f9;
    display: grid;
    align-items: center;
    justify-content: center;
}

